.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;

  padding: 10vh 0;
}

.about-section {
  // background-color: #04030f;
  // background-color: #fff;
  // background-color: #edf2ff;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

br {
  margin-bottom: 10px;
}
