@import "../../App.scss";

.live-site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  scale: none;
  transition: scale 1s ease;
  position: relative;
  gap: 4.8rem;


   button {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 25vw;
    height: calc(1rem + 3vw);
    font-weight: bold;
    border: none;
    font-style: italic;
    letter-spacing: 0.2rem;
    transition: opacity, box-shadow 1s ease;
    opacity: 0;
    border-radius: 24px;
    box-shadow: 0 0 0.6rem $shadow-color;
    font-family: inherit;
    position: static; 

    font-size: 1.6rem;
   }

   .see-live-button {
    background: $main-gradient;
   }

          //  disabled buttons 
   .see-live-button:not(.github-button) {
    display: none;
   }
   
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.8rem;
  background-color: $gallery-background;
  border-radius: 24px;
  box-shadow: 0 0 6px $shadow-color;

  &:hover {
    box-shadow: 0 0 1.2rem $shadow-color;
  }
}

.live-site-container:nth-child(odd) {
  flex-direction: row-reverse;
}

.title2 {
  margin: 0 0.8rem;
  margin-bottom: 2.4rem;
  margin-left: 0;
  font-size: 3rem;
  position: static;
  display: flex;
  opacity: 1;
}

.skills-row {
  display: flex;
  height: 15%;
  overflow: hidden;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 1s ease;
  gap: 1.2rem;
}

.skill {
  list-style: none;
  opacity: 0.6;
  padding-right: 1rem;
}


.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 1rem;
  margin: 0.8rem 0;
  min-width: 90%;  
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  border: none;
  box-shadow: 0 0 0.2rem $shadow-color;
  border-radius: 24px;
  overflow: hidden;

  position: relative;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  padding: 0.8rem;
  width: 80%;
  height: 100%;
  gap: 3vw;
}

