@import "../../App.scss";


#go-to-top {
    position: fixed;
    right: -100%;
    bottom: 24px;
    font-size: 6rem;
    border: none;
    background-color: inherit;
    color: $accent-color;

    display: none;
}

#go-to-top.gtt-visible {
    // border: 5px dashed blue;
    right: 8px;
    display: inline;
}