@import "../../App.scss";


#go-to-top {
    position: fixed;
    right: -100%;
    bottom: 24px;
    font-size: 4rem;
    border: none;
    background-color: inherit;
    color: $accent-color;
    display: none;
    opacity: 0.6;
}

#go-to-top.gtt-visible {
    right: 8px;
    display: inline;
}