.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;

 // padding: 10vh 0;
  margin-bottom: 12.8rem;
}

.skills-section {
  // background-color: #04030f;
  // background-color: #edf2ff; 
  // background-color: #364fc7;
  // background-color: linear-gradient(103deg, rgba(54,79,199,1) 74%, rgba(0,255,255,1) 100%);
  // color: #fff;
  background: linear-gradient(103deg, rgba(54,79,199,1) 74%, rgba(0,255,255,1) 100%);
  color: #edf2ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  gap: 0.5vw;
}

.skills-list li {
  padding: 0.3vw 2vw;
  list-style: none;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.3vw solid #edf2ff;
  // background-color: #364fc7;
  border-radius: 15%/50%;

  // scale: none;
  // transition: scale 4s ease;
}

// .skills-list li:hover {
//   transition: scale 4s ease;
//   scale: 150%;
// }

.skills-title {
}

@media screen and (max-width: 800px) {
  .skills-list li {
    border: 2px solid #edf2ff;
  }
}
