@import "../../App.scss";

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}


.intro-section {
  background-color: $gallery-background;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: -2px;
  line-height: 1.2;
}

.intro-title {
  text-shadow: 2px 2px 2px $shadow-color;
}

span:not(.not-important-text, div#attributions span) {
  text-shadow: none;
  background: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


br {
  margin-bottom: 1rem;
}

