.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;

  padding: 10vh 0;
}


/* 
TINT BLUE 1     #d0ebff


TINT BLUE 5    #339af0
PRIMARY COLOR  BLUE 8     #1971c2




GRAY TINT:                #1d1c27;
GRAY COLOR:    0%         #04030f;



ACCENT COLOR:             #00ffff;
ACCENT SHADE:             #00cccc;



*/

.first-section {
  // background-color: #04030f;
  // background-color: #d0ebff;
  background-color: #e7f5ff;
  // color: #339af0;
  // color: #04030f;
  color: #1d1c27;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

span {
  // color: #00ffff;
  // color: #1971c2;
  color: #00cccc;
}

br {
  margin-bottom: 10px;
}
