@import "../../App.scss";

.footer-container {
    min-height: 12rem;
    background-color: $gallery-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    #attributions {
    position: absolute;
    left: 8px;
    bottom: 8px;
    color: $secondary-button-background;

    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
    min-width: 25%;

    visibility: hidden;
}

.footer-links-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6rem;

    a {
        font-size: 1.6rem;
        opacity: 0.6;
        letter-spacing: 1.2px;
    }
}
