@import "App.scss";

@media screen and (max-width: 480px) {

  /* ********************* Live / GitHub buttons ************ */

  div.buttons-container {
    bottom: 0;
  }
}


@media screen and (max-width: 800px) {
  .container {
    width: 94vw;
  }

  // ******************** navigation section ***********************
  #navigation-container,
  .navigation-section .cta-nav-link-container {
    display: none !important;
  }

  .navigation-section #navigation-container-mobile {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;

    background-color: $gallery-background;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;

    .nav-link:link,
    .nav-link:visited {
      font-size: 2.2rem;
      color: $mobile-button-color;
    }
  }

  button#mobile-button.mobile-menu-button {
    display: flex;
  }

  .mobile-navigation-open {
    button.mobile-menu-button .open-menu-button {
      background: none;
      border: none;
      display: flex !important;
      z-index: 999;
    }

    .navigation-container {
      width: 100%;
      margin: 0 auto;
    }

    #navigation-container-mobile {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      top: 0;
      right: 0;
      overflow: hidden;
    }
  }

  // ************************* about me section **********************
  #about {
    .about-me-container {
      width: 80vw;
    }
  }

  // ********************** skills section *************************

  #skills {
    .skills-card {
      padding: 6.4rem 2.4rem;
    }
  }

  // *************** projects section ******************************
  #projects {
    .main-container {
      padding: 4.8rem 1.6rem;
    }
  }

  // *********************** cta section *************************
  #contact {
    .cta-card {
      padding: 0 1.6rem;
    }

    .cta-container {
      flex-direction: column;
      width: 100%;
      height: auto;
      gap: 1.6rem;

      .cta-text-container {
        width: 100%;
        align-items: center;

        .cta-button:link,
        .cta-button:visited {
          max-width: fit-content;
        }
      }

      .cta-image-container {
        width: 100%;
        order: -1;
      }
    }
  }


//  ********************** See Live / GitHub buttons ******************
  .image-container {
    position: static !important;
  }

  .main-container .live-site-container {
    gap: 0rem !important;
  }

  .image-container {
    flex-direction: column !important;
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 1rem !important;
  }

  .buttons-container {
    position: static !important;
    margin: 1.2rem 0 !important;
  }

  .live-site-container img {
    border-radius: 25px;
    box-shadow: 0 0 0.2rem $shadow-color;
  }

  button.see-live-button.github-button {
    height: 2.6rem !important;
    font-size: 1.2rem;
  }


}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: calc(3rem + 2.5vw);
  }

  h2 {
    font-size: calc(2.3rem + 3vw);
  }

  p {
    font-size: calc(1.8rem + 1vw);
  }

  li:not(.skill) {
    font-size: calc(1.6rem + 1vw);
  }

  .main-container .live-site-container,
  .main-container .live-site-container:nth-child(odd) {
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100% !important;
  }

  .image-container {
    width: 100% !important;
    margin-bottom: 2rem;
  }

  .main-container .title {
    display: flex;
    position: static;
    opacity: 1;
  }

  .live-site-container .see-live-button {
    display: flex;
    opacity: 1;
    padding: 0.8rem 0.4rem;
    min-width: 160px;
  }

  .description-container .skills-row {
    opacity: 1;
    margin-bottom: 2rem;
  }
}

/* ************* new ************** */
@media (max-width: 1200px) {
  .section-helper {
    min-height: 50vh;
    padding: 4.8rem 0;
  }

  .intro-section, 
  .about-section, 
  .projects-section, 
  .call-to-action-section,
  .skills-section {
    min-height: 50vh;
    padding: 25vh 0;  
  }
  
  .main-container {
    .image-container {
      flex-grow: 1;
    }

    .live-site-container {
      gap: 3.2rem;
    }

    p.description {
      font-size: 2.4rem;
    }
  }

  .navigation-section {
    .navigation-container {
      padding: 1.6rem 2.4rem;
      min-height: 0;
    }

    a.get-in-touch-nav-link:link,
    .get-in-touch-nav-link:visited {
      padding: 0.8rem 1.6rem;
      font-size: 1.2rem;
    }
  }

}

// ********* hover animations ****************
@media screen and (min-width: 800px) {
  .main-container {
    &:hover {
      transition: scale 0.3s ease;
      scale: 100%;

      .skills-row {
        opacity: 1;
        transition: opacity 1s ease;
      }

      .see-live-button {
        opacity: 1;
        transition: opacity 1s;
      }

      .image-container {
        transition: box-shadow 1s ease;
        box-shadow: 4px 4px 4px $accent-color;
      }
    }
  }
}
